<form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)" novalidate>
<label for="userName">Firstname<br/>
   <input type="text" name="firstname" placeholder="Enter Username" ngModel  />
</label><br/>

<label for="userName">Lastname<br/>
   <input type="text" name="lastname" placeholder="Enter Username" ngModel  />
</label><br/>


<label for="userName">Username<br/>
   <input type="text" name="username" placeholder="Enter Username" ngModel />
</label><br/>

<label for="Password">Password:<br/> 
  <input type="password" name="password" placeholder="Password" ngModel />
</label><br/>

<label for="Password">Confirm Password:<br/> 
  <input type="text" name="confirmpass" placeholder="Password" />
</label><br/>

<label for="Password">Email:<br/> 
  <input type="text" name="email" placeholder="Password" ngModel />
</label><br/>
  <button type="submit">Register</button>
</form>
